* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: rgb(1, 1, 62);
  color: #fff;
}
body .heading {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 40px 0;
}
body .heading h1 {
  font-size: 52px;
}
body .gaming-field-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
}
body .gaming-field-container .gaming-field {
  height: 550px;
  width: 550px;
  background: #010157;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  position: relative;
  z-index: 3;
  border-radius: 5px;
}
body .gaming-field-container .gaming-field:before {
  content: "";
  display: block;
  width: 550px;
  height: 550px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 5px;
  box-shadow: -2px -2px 14px 5px rgb(230, 8, 204);
}
body .gaming-field-container .gaming-field:after {
  content: "";
  display: block;
  width: 550px;
  height: 550px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 5px 5px 14px 0px rgb(136, 0, 255);
}
body .gaming-field-container .gaming-field .players {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 45px;
}
body .gaming-field-container .gaming-field .players .player {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  border: 2px solid transparent;
}
body .gaming-field-container .gaming-field .players .player.active {
  border: 2px solid #e608cc;
  position: relative;
}
body .gaming-field-container .gaming-field .players .player.active:before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 2px solid #520349;
}
body .gaming-field-container .gaming-field .players .player .name {
  width: 50%;
  width: 100px;
  padding-left: 10px;
  height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
body .gaming-field-container .gaming-field .players .player .sign {
  margin: 0 10px;
}
body .gaming-field-container .gaming-field .players .player .action-btn {
  background: none;
  border: none;
  color: #b866ff;
  cursor: pointer;
  z-index: 8;
  margin-left: 20px;
}
body .gaming-field-container .gaming-field .players .player .action-btn.active {
  color: #e608cc;
}
body .gaming-field-container .gaming-field .players .player .name-input {
  background: none;
  border: none;
  color: #fff;
  z-index: 5;
  margin-right: 10px;
  width: 100px;
  padding-left: 19px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  padding-bottom: 2px;
}
body .gaming-field-container .gaming-field .players .player .name-input:focus-visible {
  outline: 0;
}
body .gaming-field-container .gaming-field .game-board {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}
body .gaming-field-container .gaming-field .game-board ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 85%;
  margin: 10px 0;
}
body .gaming-field-container .gaming-field .game-board ul li {
  width: 130px;
  height: 130px;
  background: #e608cc;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  cursor: pointer;
}
body .gaming-field-container .gaming-field .game-board ul li button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
}
body .gaming-field-container .chronology {
  max-width: 220px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #8800ff;
  border-radius: 5px;
}
body .gaming-field-container .chronology h4 {
  margin-bottom: 20px;
}
body .gaming-field-container .chronology li {
  margin: 10px 0;
}/*# sourceMappingURL=style.css.map */